$color-red: #FF0000;
$color-white: #FFFFFF;
$color-dark-grey: #28272C;
$color-light-grey-opacity: rgba(255, 255, 255, 0.2);
$color-grey: #00000066;
$color-grey-blog: #6A6A6A;
$color-grey-service: #B2B2B2;
$color-grey-input: #D1D1D1;
$color-black-opacity: rgba(0, 0, 0, 0.4);
$color-black: rgb(0, 0, 0);
$color-input-border: #FF00004D;