body, html {
    font-size: 10px;
}

$font-nunito: 'Nunito Sans', sans-serif;
$font-open: 'Open Sans', sans-serif;

$font-10: 1rem;
$font-12: 1.2rem;
$font-14: 1.4rem;
$font-16: 1.6rem;
$font-19: 1.9rem;
$font-25: 2.5rem;
$font-35: 3.5rem;
$font-90: 9rem;