.btn {
    border-radius: 50px; 
    box-shadow: 0px 3px 6px rgba(255, 0, 0, 0.3);
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    &-big {
        padding: 2.2rem 5.5rem;
        font-size: $font-16;
        font-weight: 700;
        margin: 2rem;
    }
    &-small {
        padding: 1rem 2rem;
        font-size: $font-14;
        @include mobile {
            text-align: center;
        }
    }
    &-red {
        background-color: $color-red;
        color: $color-white;
    }
    &-white {
        background-color: $color-white;
        color: $color-red;
    }
    &-send {
        border: 1px solid $color-red;
        width: 14rem;
        align-self: flex-end;
        margin-top: 1rem;
    }
}