.contact {
    &__wrapper {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        margin: auto;
        margin-bottom: 5rem;
        width: 80%;
        div {
            width: 50%;
            @include tablet {
                width: 90%;
            }
        }
        @include tablet {
            flex-direction: column;
            align-items: center;
        }
    }
    &__photo {
        width: 100%;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        @include tablet {
            width: 90%;
        }
    }
    &__input {
        width: 100%;
        font-size: $font-16;
        font-weight: 400;
        padding: 0.8rem 1.2rem;
        border-radius: 0.8rem;
        border: 1px solid $color-grey-input;
        margin-bottom: 2rem;
        &-big {
            height: 14rem;
        }
        &-checkbox{
            display: flex;
            gap: 1rem;
            position: relative;
        }
        &-checkmark {
            height: 2.2rem;
            width: 2.2rem;
            position: absolute;
            border: 1px solid $color-grey-input;
            border-radius: 0.8rem;
            cursor: pointer;
        }
        &-paragraph {
            font-size: $font-10;
            color: $color-grey-service;
            font-family: $font-open;
            font-weight: 300;
            padding-left: 3rem;
        }
    }
}
textarea:focus, input:focus {
    outline: 1px solid $color-red;
    box-shadow: 0px 1px 6px $color-input-border;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .contact__input-checkmark {
    background-image: url(../images/IconCheck.png);
    background-repeat: no-repeat;
    background-position: center;
}